altgraph==0.17.2
future==0.18.2
macholib==1.14
pefile==2021.9.3
pip==21.3.1
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pynput==1.7.6
pywin32==303
pywin32-ctypes==0.2.0
PyYAML==6.0
screeninfo==0.8
setuptools==60.2.0
six==1.16.0
wheel==0.37.1
